@model testNETCORE.Models.Tour

@{
    ViewData["Title"] = "Update Tour";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Update Tour</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.TourName, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.TourName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.TourName, "", new { @class = "text-danger" })
    </div>

        <div class="form-group">
        @Html.LabelFor(model => model.Destination1, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Destination1, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Destination1, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Destination2, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Destination2, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Destination2, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Destination3, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Destination3, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Destination3, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PriceOfAdult, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.PriceOfAdult, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PriceOfAdult, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PriceOfChildren, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.PriceOfChildren, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PriceOfChildren, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NdaysNnights, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.NdaysNnights, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.NdaysNnights, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
