@model IEnumerable<Admin.Models.Tour>
<h2>Danh sách Tours</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Departure</th>
            <th>Destination 1</th>
            <th>Destination 2</th>
            <th>Destination 3</th>
            <th>Max Quantity</th>
            <th>Length</th>
            <th>Price For Adult</th>
            <th>Price For Children</th>
            <th>Number days Nights</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Journey Hight light</th>
            <th>Traveling Schedule</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tour in Model)
        {
            <tr>
                <td>@tour.TourName</td>
                <td>@tour.Departure</td>
                <td>@tour.Destination1</td>
                <td>@tour.Destination2</td>
                <td>@tour.Destination3</td>
                <td>@tour.MaxQuantity</td>
                <td>@tour.Length</td>
                <td>@tour.PriceForAdult</td>
                <td>@tour.PriceForChildren</td>
                <td>@tour.NdaysNnights</td>
                <td>@tour.StartDate</td>
                <td>@tour.EndDate</td>
                <td>@tour.JourneyHightlight</td>
                <td>@tour.TravelingSchedule</td>
                <td>
                    <a asp-action="Display" asp-route-id="@tour.Id">View</a> |
                    <a asp-action="Update" asp-route-id="@tour.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@tour.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>